{% extends 'base.html' %}

{% block title %}{{ block.super }} - Your Project{% endblock title %}

{% block content %}
<div class="container">

    <div class="container mt-2 mb-2 d-flex justify-content-between">
        <h3>Your projects</h3>
        <div>
            <a href="{% url 'create' %}" class="btn btn-sm btn-success">+ Create Project</a>
        </div>
    </div>

    <hr>

    {% for object in object_list %}

        <div class="card mb-3">
            <div class="container p-2">
                <div class="d-flex justify-content-between">
                    <h5>{{ object.title }} {% if object.private %} <span class="text-muted fs-6"> - Private</span>{% endif %}</h5>
                    <div><a href="{% url 'detail' object.id %}" class="btn btn-sm btn-success">VIEW</a></div>
                </div>
                <hr>
                <p>{{ object.description }}</p>
                <div class="d-flex justify-content-between">
                    {% if object.finish_date %}
                        <p><span class="text-muted">Finish Date:</span>
                            {% if object.finish_date < today %}
                                <span class="text-danger">{{ object.finish_date }}</span>
                            {% else %}
                                <span>{{ object.finish_date }}</span>
                            {% endif %}
                        </p>
                        <p class="text-muted">{{ object.task_set.all | length }} Task{{ object.tasks_set | pluralize }}</p>
                    {% else %}
                        <p class="text-muted ms-auto">{{ object.task_set.all | length }} Task{{ object.tasks_set | pluralize }}</p>
                    {% endif %}
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div>
                        {% if object.progress >= 0 and object.progress <= 20 %}
                            <p class="text-danger">{{ object.progress }} %</p>
                        {% elif object.progress >= 21 and object.progress <= 99 %}
                            <p class="text-primary">{{ object.progress }} %</p>
                        {% else %}
                            <p class="text-success">{{ object.progress }} %</p>
                        {% endif %}
                        <p>{{ object.created_by }}</p>
                    </div>
                    <div>
                        <p>{{ object.date }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% empty %}
        <div class="container text-center mt-3 mb-3">
            <p>No projects available yet</p>
        </div>
    {% endfor %}

</div>
{% endblock content %}