{% extends 'base.html' %}

{% block title %}{{ block.super }} - Delete Project{% endblock title %}

{% block content %}

    <div class="container text-center">

        <h3 class="mt-3 mb-5">Delete Project - {{ object.title }}</h3>

        <div>
            <form method="POST">
                {% csrf_token %}
                <p>Are you sure you want to delete "{{ object.title }}"?</p>
                <input type="submit" value="Confirm" class="btn btn-sm btn-danger">
            </form>
        </div>

    </div>
 
{% endblock content %}