{% extends 'base.html' %}

{% block title %}{{ block.super }} - Add new content{% endblock title %}

{% block content %}

<div class="container mt-2 mb-2">

    <h4>
        Add new Content 
    </h4>

    <hr> 

    <h5 class="mt-2 mb-5">Project Content</h5>

    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Save Content" class="btn btn-sm btn-primary"></p>
        </form>
    </div>

</div>

{% endblock content %}